<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organization">
            <h2><span>Organization</span> {{ organization.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Organization Name</span></dt>
                <dd>
                    <span>{{ organization.organizationName }}</span>
                </dd>
                <dt><span>Organization Description</span></dt>
                <dd>
                    <span>{{ organization.organizationDescription }}</span>
                </dd>
                <dt><span>Organization Icon</span></dt>
                <dd>
                    <span>{{ organization.organizationIcon }}</span>
                </dd>
                <dt><span>Created</span></dt>
                <dd>
                    <span>{{ organization.created }}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="organization.customer">
                        <a [routerLink]="['/customer', organization.customer?.id, 'view']">{{ organization.customer?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organization', organization.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
